@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
	--text-color: rgba(255, 255, 255, 0.8);
	--link-color: rgba(255, 255, 255, 1);
	--link-hover-color: rgba(255, 255, 255, 0.6);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Space Mono', monospace;
	background-color: var(--background-color);
	color: var(--text-color);
	overflow-x: hidden;
	user-select: none;
}
